<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
    <title>QUIZ</title>
    <style>
        body {
            background: #eeeeee;
            font-family: Meiryo, serif;
        }

        div {
            background: #ffffff;
            width: 300px;
            padding: 10px;
            text-align: center;
            border: 1px solid #cccccc;
            margin: 30px auto;
            word-break: keep-all;
            line-break: strict;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

    </style>
</head>

<body>

<div>
    <h1>技術科部 QUIZ</h1>
    <p>このクイズでは、インターネットやプログラミングについての問題が出されます。クイズを開始するには、スタートボタンを押してください。</p>
    <!-- form リダイレクト先を変更して置いてください-->
    <form action="/" method="POST">
        <input type="submit" value="スタート" name="start" style="width: 150px;height: 40px">
    </form>
</div>

</body>
</html>
