<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
     <?php

      header( 'Expires: Thu, 01 Jan 1970 00:00:00 GMT' );
header( 'Last-Modified: '.gmdate( 'D, d M Y H:i:s' ).' GMT' );

// HTTP/1.1
header( 'Cache-Control: no-store, no-cache, must-revalidate' );
header( 'Cache-Control: post-check=0, pre-check=0', FALSE );

// HTTP/1.0
header( 'Pragma: no-cache' );

    ?>
    <title>QUIZ</title>
    <style>
        body {
            background: #eeeeee;
            font-family: Meiryo, serif;
        }

        div {
            background: #ffffff;
            width: 300px;
            padding: 10px;
            text-align: center;
            border: 1px solid #cccccc;
            margin: 30px auto;
        }

    </style>
</head>

<body>

<div>
    <h1>技術科部 QUIZ</h1>
    <p>クイズの説明文がここに入ります</p>
    <!-- form リダイレクト先を変更して置いてください-->
    <form action="/" method="POST">
        <input type="submit" value="スタート" name="start" style="width: 150px;height: 40px">
    </form>
</div>

</body>
</html>
